{% load datetime_utils %}

<div style="border: 1px solid black">
    <h3> My Stats </h3>
    <table>
        <tr> <td> period </td> <td> zScore </td> <td> average </td> <td> avgSqrt </td> <td> stDev </td> </tr>
        <tr> <td> all time </td> <td> {{global.zScore|printHHMM}} </td> <td> {{global.avg|printHHMM}} </td> <td> {{global.avgSqrt|printHHMM}} </td> <td> {{global.stDev|printHHMM}} </td> </tr>
        <tr> <td> past week </td> <td> {{weekly.zScore|printHHMM}} </td> <td> {{weekly.avg|printHHMM}} </td> <td> {{weekly.avgSqrt|printHHMM}} </td> <td> {{weekly.stDev|printHHMM}} </td> </tr>
    </table>

    
</div>
