{% load datetime_utils %}

<div style="border: 1px solid black">
    <h3> My Stats </h3>
    <table>
        <tr> <td></td> <td> zScore </td> <td> average </td> <td> avgSqrt </td> <td> stDev </td> </tr>
        <tr> <td> all time </td> <td> {{global.zScore|printHHMM}} </td> <td> {{global.avg|printHHMM}} </td> <td> {{global.avgSqrt|printHHMM}} </td> <td> {{global.stDev|printHHMM}} </td> </tr>
        <tr> <td> past week </td> <td> {{weekly.zScore|printHHMM}} </td> <td> {{weekly.avg|printHHMM}} </td> <td> {{weekly.avgSqrt|printHHMM}} </td> <td> {{weekly.stDev|printHHMM}} </td> </tr>
        <tr> <td> exponentially decaying </td> <td> {{decaying.zScore|printHHMM}} </td> <td> {{decaying.avg|printHHMM}} </td> <td> {{decaying.avgSqrt|printHHMM}} </td> <td> {{decaying.stDev|printHHMM}} </td> </tr>
    </table>

    {% if graphData|length > 1 %}
      <br>
      <canvas id="sleepChart" width="400" height="400"></canvas>
      <script>
        var chartData = {
          labels : [
            {% for d in graphData %}
              "{{d.date}}",
            {% endfor %}
          ],
          datasets : [
            {
              fillColor: "rgba(120,120,0,0.5)",
              strokeColor : "rgba(120,120,0,1)",
              pointColor : "rgba(120,120,0,1)",
              pointStrokeColor : "rgba(240,240,120,1)",
              data : [
                {% for d in graphData %}
                  {{ d.slept }} + 1.0, // add 1 as a hack because Chart.js is broken if you override the scale
                {% endfor %}
              ]
            }
          ]
        }

        var chartOptions = {
          scaleOverride : true ,
          scaleSteps : 17,
          scaleStepWidth : 1,
          scaleStartValue : 1,
        }

        var sleepChart = new Chart(document.getElementById("sleepChart").getContext("2d")).Line(chartData,chartOptions);
      </script>
    {% else %}
      <i>Enter at least two days of data to see a pretty graph here!</i>
    {% endif %}

    
</div>
