{% if hasPartial == 1 %}
<p><a style="text-decoration:None;" href="/sleep/finishPartial/"><input type="submit" value="Waking Up!" style="font-size:{{size}}em;"/></a><br />
<a style="text-decoration:None;" href="/sleep/deletePartial/?next={{path}}"><input type="submit" value="Never mind! I'm not asleep!" style="font-size:{{size}}em;"/></a>
</p>
{% elif hasPartial == 2 %}
<p><a style="text-decoration:None;" href="/sleep/createPartial/?next={{path}}"><input type="submit" value="Going To Sleep!" style="font-size:{{size}}em;"/></a></p>
{% endif %}
