{% if renderContent == 'css' %}

{% else %}
{% load tz %}
{% load sleep_tags %}
{% load datetime_utils %}
<script type="text/javascript">
function deleteSleep(id) {
  $.post("/sleep/delete/", {
    "id": id
  }, function() {
    // Reload the page to show the updated list
    // TODO: If we AJAX-ify things, this should become
    // just a javascript update
    location.reload();
  });
};

function deleteAllnighter(id) {
		$.post("/sleep/delete/allnighter/", {
						"id":id
		}, function() {
		location.reload();
		});
};
</script>

<div class="sleep-list" style="border: 1px solid black">
		<h3>My Sleeps ({{numsleeps}} on {{numdates}} days)</h3>
		<p><a href="/sleep/export/">Export sleeps</a></p>
  <table class="sleep-list">
    {% for sleep in sleeps %}
		{% displaySleep sleep showcomments=1 showedit=1 showTZ=1 use12HourTime=use12HourTime %}
    {% endfor %}
</table>
{% if allnighters %}
		<h3>My Allnighters ({{numallnighters}} on {{anumdates}} days)</h3>
		<table>
				{% for a in allnighters %}
				{% displayAllNighter a showedit=1 showcomments=1%}
				{% endfor %}
</table>
{% endif %}
</div>
{% endif %}
