{% if renderContent == 'css' %}

{% else %}
{% load tz %}
<script type="text/javascript">
function deleteSleep(id) {
  $.post("/sleep/delete/", {
    "id": id
  }, function() {
    // Reload the page to show the updated list
    // TODO: If we AJAX-ify things, this should become
    // just a javascript update
    location.reload();
  });
};

function deleteAllnighter(id) {
		$.post("/sleep/delete/allnighter/", {
						"id":id
		}, function() {
		location.reload();
		});
};
</script>

<div class="sleep-list" style="border: 1px solid black">
    <h3>My Sleeps ({{numsleeps}} on {{numdates}} days)</h3>
  <table>
    {% for sleep in sleeps %}
    <tr id="sleep-entry-id-{{sleep.id}}">
      <td><a href="javascript:void(0);" class="sleep-delete-button" onclick="deleteSleep({{sleep.id}});">x</a></td>
          {% timezone sleep.timezone %}
			<td>{{sleep.date}}: {{sleep.start_time}} to {{sleep.end_time}} ({{sleep.length}}) </td><td><a href="/sleep/edit/{{sleep.pk}}/">[edit]</a></td>
            {% endtimezone %}
	</tr>
	{% if sleep.comments %} <tr><td>&nbsp;</td><td>{{sleep.comments|truncatewords:20}}</td><td>&nbsp;</td></tr>{% endif %}
    {% endfor %}
</table>
{% if allnighters %}
		<h3>My Allnighters ({{numallnighters}} on {{anumdates}} days)</h3>
		<table width=100%>
				{% for a in allnighters %}
				<tr id="allnighter-entry-id-{{allnighter.pk}}">
						<td><a href="javascript:void[0];" class="sleep-delete-button" onclick="deleteAllnighter({{a.pk}});">x</a></td><td>{{a.date}}</td><td><a href="/sleep/editallnighter/{{a.pk}}/">[edit]</a></td>
				</tr>
				{% if a.comments %} <tr><td>&nbsp;</td><td>{{a.comments|truncatewords:20}}</td><td>&nbsp;</td></tr>{% endif%}
		{% endfor %}
</table>
{% endif %}
</div>
{% endif %}
