{% if renderContent == 'css' %}

{% else %}
{% load datetime_utils %}
{% load graphs %}
{% load sleep_tags %}

<div>
    <h3> My Stats </h3>
		<p><b>Total sleep</b>: {{total|printYDHM}} ({{lastDay|printHHMM}} in the last 24 hours)<br/>
		{% if wakeup %}  In the last week, you woke up at {{wakeup}} on average{% if wakeup_dev %} (stdev {{wakeup_dev|printHHMM}}){% endif %}{% if sleeptime %} and went to sleep at {{sleeptime}}{% if sleeptime_dev %} (stdev {{sleeptime_dev|printHHMM}}){% endif %}.{%endif%}<br />
		{%else%} {%if sleeptime %} In the last week, you went to sleep at {{sleeptime}} on average{% if sleeptime_dev %} (stdev {{sleeptime_dev|printHHMM}}){%endif%}{%endif%}{% endif  %}</p>
    {% sleepStatsTable request.user %}
    <br/>
    {% graphPerDay request.user 14 %}
    <br/>
    <br/>
    {% graphTimeOfDayBars request.user 30 %}
    <br/>
    
</div>
{% endif %}
