{% if renderContent == 'css' %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'sleep/sleep_entry.css' %}" />
{% else %}
<script type="text/javascript">
	// Set some parameters on the server side
	// (Nothing here for now)
</script>

<script type="text/javascript" src="/static/sleep/sleep_entry.js"></script>


<div class="sleep-grid">
    <p>Highlight the times you slept in the grid below to fill in your sleeps. Use the popup that follows to tweak times or modify the day you want to associate your sleep with. This feature is still in development, and is likely somewhat buggy right now.  Alternately, try the <strike>boring</strike> <a href="/sleep/simple/">simple</a> version.</p>
</div>

<div id="confirm-sleep-entry" style="display:none" title="Confirm Sleep Entry">
  <form>
    <fieldset>
      <table>
	<tr>
	  <td><label for="start">Start time</label></td>
	  <td><input type="text" name="start" /></td>
	</tr>
	<tr>
	  <td><label for="end">End time</label></td>
	  <td><input type="text" name="end" /></td>
	</tr>
	<tr>
	  <td><label for="date">Associated date</label></td>
	  <td><input type="text" name="date" /></td>
	</tr>
	<tr>
	  <td><label for="comments">User comments</label></td>
	  <td><input type="text" name="comments" autofocus /></td>
	</tr>
	<tr>
	  <td><label for="timezone">Timezone</label></td>
      <td>
        <select type="text" name="timezone">
          {% for timezone in timezones %}
          <option value="{{timezone}}" {% if timezone == mytz %}selected{% endif%}>{{timezone}}</option>
          {% endfor %}
        </select>
      </td>
	</tr>
      </table>
    </fieldset>
  </form>
</div>
{% endif %}
