{% if renderContent == 'css' %}

{% else %}
{% load datetime_utils %}
{% load graphs %}

<div style="border: 1px solid black">
    <h3> My Stats </h3>
		Total sleep: {{total|printDHM}} <br/>
		{% if wakeup %}  In the last week, you woke up at {{wakeup}} on average<br /> {% endif  %}
    <table>
        <tr> <td></td> <td> zScore </td> <td> average </td> <td> avgSqrt </td> <td> stDev </td> </tr>
        <tr> <td> all time </td> <td> {{global.zScore|printHHMM}} </td> <td> {{global.avg|printHHMM}} </td> <td> {{global.avgSqrt|printHHMM}} </td> <td> {{global.stDev|printHHMM}} </td> </tr>
        <tr> <td> past week </td> <td> {{weekly.zScore|printHHMM}} </td> <td> {{weekly.avg|printHHMM}} </td> <td> {{weekly.avgSqrt|printHHMM}} </td> <td> {{weekly.stDev|printHHMM}} </td> </tr>
        <tr> <td> exponentially decaying </td> <td> {{decaying.zScore|printHHMM}} </td> <td> {{decaying.avg|printHHMM}} </td> <td> {{decaying.avgSqrt|printHHMM}} </td> <td> {{decaying.stDev|printHHMM}} </td> </tr>
    </table>

    <br/>
    {% graphPerDay request.user %}
    <br/>
    <br/>
    {% graphTimeOfDayBars request.user %}
    <br/>
    
</div>
{% endif %}
