{% load datetime_utils %}
{% load sleep_tags %}

<table>
    <tr>
        <td></td>
	{% for metric in metricsToDisplay %}
	<td><a href="?sort={{metric}}">{{metric}}</a></td>
	{% endfor %}
    </tr>
  <tr>
    <td> all time </td>
    {% for metric in metricsToDisplay %}
    {% if metric in metricsDisplayedAsTimes %}
    <td> {{ global|getScore:metric|printHHMM }} </td>
    {% elif metric in metricsToDisplay  %}
    <td> {{ global|getScore:metric }} </td>
    {% endif %}
    {% endfor %}
  </tr>


  <tr>
    <td> past week </td>
    {% for metric in metricsToDisplay %}
    {% if metric in metricsDisplayedAsTimes %}
    <td> {{ weekly|getScore:metric|printHHMM }} </td>
    {% elif metric in metricsToDisplay  %}
    <td> {{ weekly|getScore:metric }} </td>
    {% endif %}
    {% endfor %}
  </tr>


  <tr>
    <td> exponentially decaying </td>
    {% for metric in metricsToDisplay %}
    {% if metric in metricsDisplayedAsTimes %}
    <td> {{ decaying|getScore:metric|printHHMM }} </td>
    {% elif metric in metricsToDisplay  %}
    <td> {{ decaying|getScore:metric }} </td>
    {% endif %}
    {% endfor %}
  </tr>


</table>
