{% load datetime_utils %}
{% load sleep_tags %}

<table>
    <tr>
				<th>&nbsp;</th>
	{% for metric in userMetrics %}
	<th>{{metric.withAbbrDesc|safe}}</th>
	{% endfor %}
    </tr>
  <tr>
    <td> all time </td>
    {% for metric in userMetrics %}
    <td> {{ global|getScore:metric }} </td>
    {% endfor %}
  </tr>


  <tr>
    <td> past week </td>
    {% for metric in userMetrics %}
    <td> {{ weekly|getScore:metric }} </td>
    {% endfor %}
  </tr>


  <tr>
    <td> exponentially decaying </td>
    {% for metric in userMetrics %}
    <td> {{ decaying|getScore:metric }} </td>
    {% endfor %}
  </tr>


</table>
