{% extends 'frame.html' %}

{% block content %}
<h1>Creep</h1>
<p>{{total}} creepable users</p>
{% if followed %}
<p>Following:
    {% for user in followed %}
        <a href="{{user.username}}">{{user.username}}</a>
    {% endfor %}
</p>
{% else %}
<p><a href="/friends/">Follow</a> users to see them here!</p>
{% endif %}
        
    
<form action="/creep/" method="post">{% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Submit" /></p>
</form>
{% if not new %}
    {% if count %}
        <p>Found {{count}} users.<br/>
        {% for user in results %}
            <a href="{{user.username}}">{{user.username}}</a><br/>
            {% endfor %}</p>
    {% else %}
        <p>No users found.</p>
    {% endif %}
{% endif %}

{% endblock %}
