{% extends 'frame.html' %}


{% block scripts %}
{{block.super}}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
    $( "#tabs" ).tabs();
});
</script>
{% endblock %}

{% block stylesheets %}
{{block.super}}
{% endblock %}


{% block content %}
<form action="/editprofile/" method="post">{% csrf_token %}
    <div id="tabs">
        <ul>
            <li><a href="#tabs-general">General Settings</a></li>
            <li {% if page == 2 %}class="ui-tabs-active"{%endif%}><a href="#tabs-ideal">Idealized Settings</a></li>
            <li><a href="#tabs-privacy">Privacy Settings</a></li>
            <li><a href="#tabs-experimental">Experimental Settings</a></li>
        </ul>

        <div id="tabs-general">

            {{ form.non_field_errors}}
            {% if success %}<p>Form successfully saved!</p>{% endif %}

            <table>
                <tr><td><label for="id_use12HourTime">Use 12 hour time:</label></td> <td>{{form.use12HourTime}} </td><td> {{form.user12HourTime.errors}}</td></tr>
                <tr><td><label for="id_timezone">Timezone</label></td><td>{{form.timezone}}</td><td>{{form.timezone.errors}}</td></tr>
                <tr><td><label for="id_punchInDelay">Punch-in Delay (in minutes)</label></td><td>{{form.punchInDelay}}</td><td>{{form.punchInDelay.errors}}</td></tr>
            </table>
            <p><input type="submit" value="Save" /></p>
        </div>
        <div id="tabs-ideal">
            <table>
                <tr><td><label for="id_idealSleep">Ideal sleep length (hours)</label></td><td>{{form.idealSleep}}</td><td>{{form.idealSleep.errors}}</td></tr>
                <tr><td><label for="id_idealWakeupWeekend">Ideal wakeup time (weekend)</label></td><td>{{form.idealWakeupWeekend}}</td><td>{{form.idealWakeupWeekend.errors}}</td></tr>
                <tr><td><label for="id_idealSleepTimeWeekend">Ideal sleep time (weekend)</label></td><td>{{form.idealSleepTimeWeekend}}</td><td>{{form.idealSleepTimeWeekend.errors}}</td></tr>
                <tr><td><label for="id_idealWakeupWeekday">Ideal wakeup time (weekday)</label></td><td>{{form.idealWakeupWeekday}}</td><td>{{form.idealWakeupWeekday.errors}}</td></tr>
                <tr><td><label for="id_idealSleepTimeWeekday">Ideal sleep time (weekday)</label></td><td>{{form.idealSleepTimeWeekday}}</td><td>{{form.idealSleepTimeWeekday.errors}}</td></tr>
            </table>
            <p><input type="submit" value="Save" /></p>
        </div>

        <div id="tabs-privacy">
            <table>
                <tr><td><label for="id_privacy">Privacy to anonymous users:</label></td><td> {{ form.privacy }}</td><td> {{ form.privacy.errors }} </td></tr>
                <tr><td><label for="id_privacyLoggedIn">Privacy to logged-in users:</label></td><td>{{ form.privacyLoggedIn }}</td><td>{{ form.privacyLoggedIn.errors }}</td></tr> 
                <tr><td><label for="id_privacyFriends">Privacy to friends:</label></td><td>{{ form.privacyFriends }}</td><td>{{ form.privacyFriends.errors }}</td></tr>
                <tr><td><label for="id_useGravatar">Use Gravatar:</label></td><td>{{ form.useGravatar}}</td><td>{{ form.useGravatar.errors}} </td></tr>
                <tr><td><label for="id_autoAcceptGroups">Automatically accept group invitations from:</label></td><td>{{ form.autoAcceptGroups}}</td><td>{{ form.autoAcceptGroups.errors}} </td></tr>
            </table>
            <p>
            <b>About the privacy choices</b><br/>
                <i>Hidden:</i> you will not be shown in the leaderboard at all<br/>
                <i>Redacted:</i> you will be shown in the leaderboard (if in the top 10) with username [redacted]<br/>
                <i>Normal:</i> you will be shown in the leaderboard (if in the top 10)<br/>
                <i>Stats public:</i> your stats will be shown publicly on your creep page<br/>
                <i>Sleep public:</i> your stats and all sleep times will be shown publicly on your creep page<br />
                <i>Graphs public:</i> In addition to all the benefits from <i>Sleep Public</i>, your <a href="/mygraphs/">graphs</a> will be visible. <br />
                <i>Everything public:</i> In addition to all the benefits from <i>Graphs Public</i>, people will be able to stalk when you're <i>actually asleep</i>, if you use the punch.in/punch.out feature. Additionally, if we decide to add more privacy options, you will be defaulted to having the most permissive privacy setting
            </p>
            <p>If you choose not to use your Gravatar, you will have the default no-Gravatar displayed instead.</p>
            <p><input type="submit" value="Save" /></p>
        </div>

        <div id="tabs-experimental">
            <p>Settings in this tab are even more alpha than the rest of the site, and are definitely not guarenteed to work.</p>
            <table>
                <tr><td><label for="id_mobile">Use mobile site: </label></td><td>{{ form.mobile }}</td><td> {{form.mobile.errors }}</td></tr>
            </table>
            <p><input type="submit" value="Save" /></p>
        </div>
</div>
</form>
{%endblock %}
