{% extends 'frame.html' %}

{% load sleep_tags %}

{% block content %}
<h1>Friends</h1>

<h3>Add and Follow</h3>
<form action="/friends/" method="post">{% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Search" /></p>
</form>
{% if not new %}
    {% if count %}
        Found {{count}} users.<br/>
        <table>
            {% for user in results %}
                {% displayFriend request.user user %}
            {% endfor %}
        </table>
    {% else %}
        No users found.<br/>
    {% endif %}
{% endif %}

{% if requests %}
    <h3>Friend Requests</h3>
    The users below have asked you to friend them.  They won't know if you friend them, hide the request, or leave it here.
    <table>
        {% for prof in requests %}
            {% displayFriend request.user prof.user 'True' %}
        {% endfor %}
    </table>
{% endif %}

<h3>My Friends and Follows</h3>
<i>Friends</i> can see whatever you set friends to be able to see in your <a href="/editprofile/">profile</a>.  Users you <i>follow</i> will show up here and in the <a href="/creep/">creep</a> page, for your convenience.  They can't see that you follow them.
{% if friendfollow %}
    <table>
        {% for user in friendfollow %}
            {% displayFriend request.user user %}
        {% endfor %}
    </table>
{% else %}
    Add friends or follow other users above!
{% endif %}

{% endblock %}        
