{% extends 'frame.html' %}

{% block content %}
<h1>Friends</h1>

<h3>Add and Follow</h3>
<form action="/friends/" method="post">{% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Search" /></p>
</form>
{% if not new %}
    {% if count %}
        Found {{count}} users.<br/>
        <script type="text/javascript">
            function addFriend(id) {
              $.post("/friends/add/", {
                "id": id
              }, function() {
                window.location = window.location.href;
              });
            };
            function follow(id) {
              $.post("/friends/follow/", {
                "id": id
              }, function() {
                window.location = window.location.href;
              });
            };
            function addAndFollow(id) {
              $.post("/friends/add/", {
                "id": id
                }, function() {
                $.post("/friends/follow/", {
                  "id": id
                }, function() {
                  window.location = window.location.href;
                });
              });
            };
        </script>
        <table>
            {% for user in results %}
                <tr>
                    <td>{{user.username}}</td>
                    {% if user not in friended %}
                    <td><a class="add-friend-button" onclick="addFriend({{user.id}});" href="javascript:void(0);">friend</a></td>
                    {% else %}
                    <td>(already friends)</td>
                    {% endif %}
                    {% if user not in followed %}
                    <td><a class="follow-button" onclick="follow({{user.id}});" href="javascript:void(0);">follow</a></td>
                    {% else %}
                    <td>(already following)</td>
                    {% endif %}
                    {% if user not in friended and user not in followed %}
                    <td><a class="add-and-follow-button" onclick="addAndFollow({{user.id}});" href="javascript:void(0);">both</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        No users found.<br/>
    {% endif %}
{% endif %}



<h3>My Friends</h3>
<i>Friends</i> can see whatever you set friends to be able to see in your <a href="/editprofile/">profile</a>.
<script type="text/javascript">
    function removeFriend(id) {
      $.post("/friends/remove/", {
        "id": id
      }, function() {
        window.location = window.location.href;
      });
    };
</script>
{% if friended %}
    <table>
        {% for user in friended %}
            <tr>
                <td><a href="/creep/{{user.username}}">{{user.username}}</a></td>
                <td><a class="remove-friend-button" onclick="removeFriend({{user.id}});" href="javascript:void(0);">remove</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    Add friends below!
{% endif %}

<h3>Following</h3>
Users you <i>follow</i> will show up here and in the <a href="/creep/">creep</a> page, for your convenience.  They can't see that you follow them.
<script type="text/javascript">
    function unfollow(id) {
      $.post("/friends/unfollow/", {
        "id": id
      }, function() {
        window.location = window.location.href;
      });
    };
</script>
{% if followed %}
    <table>
        {% for user in followed %}
            <tr>
                <td><a href="/creep/{{user.username}}">{{user.username}}</a></td>
                <td><a class="unfollow-button" onclick="unfollow({{user.id}});" href="javascript:void(0);">unfollow</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    Follow other users below!
{% endif %}

{% endblock %}        
