{% extends "frame.html" %}

{% block content %}
{% load datetime_utils %}
{% load sleep_tags %}
{% load graphs %}
{% load tz %}
<h1> Graphs for {{user}}</h1>
{% if sleeps %}
<br />
{% graphPerDay user %}
<br />
{% graphTimeOfDayBars user %}
<br/>
{% graphSleepTimes user %}
<br />
<p><i>Sleep time histogram</i></p>
{% graphSleepStartEndTimes user %}
<p><i>Green is when you go to sleep, red is when you wake up.</i></p>
{% graphSleepLengths user %}
<p><i>Histogram of sleep lengths for you</i></p>
{% else %}
<p><i>Enter at least one sleep to see pretty pictures!</i></p>
{% endif %}


{% endblock %}
