{% extends "frame.html" %}

{% block content %}
{% load datetime_utils %}
{% load sleep_tags %}
{% load graphs %}
{% load tz %}
<h1> Graphs</h1>
{% if sleeps %} 
{% graphPerDay user %}
<br />
{% graphSleepTimes user %}
<br/>
<i>Sleep time histogram</i>
<br />
{% graphSleepStartEndTimes user %}
<br/>
<i>Green is when you go to sleep, red is you they wake up.</i>
<br/>
{% graphSleepLengths user %}
<br />
<i>Histogram of sleep lenghts for you</i>
<br />
{% else %}
<i>Enter at least one sleep to see pretty pictures!</i>
{% endif %}


{% endblock %}
