{% extends "frame.html" %}

{% load sleep_tags %}

{% block content %}

<h1>Groups</h1>

{% if invites %}
<h3>My Invites</h3>
<table>
    {% for invite in invites %}
        {% displayInvite invite %}
    {% endfor %}
</table>
{% endif %}

{% if groups %}
<h3>My Groups</h3>
<table>
{% for group in groups %}
    {% displayMyGroup group 1 %}
{% endfor %}
</table>
{% else %}
<p>Join groups to see them here!</p>
{% endif %}

<p>
Create a group <a href="/groups/create/">here</a>.
</p>

<h3>Public and Requestable Groups</h3>
<form method="post">{% csrf_token %}
    {{form.as_p}}
    <p><input type="submit" value="Search"></p>
</form>

{% if results %}
<table>
{% for group in results %}
    {% displayMyGroup group 0 %}
{% endfor %}
</table>
{% else %}
{% if noresults %} No groups found matching that search, sorry.{% endif %}
{% endif %}

{% endblock %}
