{% extends "frame.html" %}

{% load sleep_tags %}

{% block content %}
<script type="text/javascript">
    function requestGroup(id) {
        $.post("/groups/request/", {
            "group": id
            }, function() {
            location.reload();
        });
    };
    function joinGroup(id) {
        $.post("/groups/join/", {
            "group": id
            }, function() {
            location.reload();
        });
    };
</script>

<h1>Groups</h1>

{% if invites %}
<h3>My Invites</h3>
<table>
    {% for invite in invites %}
        {% displayInvite invite %}
    {% endfor %}
</table>
{% endif %}

{% if groups %}
<h3>My Groups</h3>
<table>
{% for group in groups %}
    {% displayMyGroup group 1 %}
{% endfor %}
</table>
{% else %}
Join groups to see them here!
{% endif %}

<p>
Create a group <a href="/groups/create/">here</a>.
</p>

<h3>Public Groups</h3>
<form method="post">{% csrf_token %}
    {{form.as_p}}
    <p><input type="submit" value="Search"></p>
</form>

{% if results %}
<table>
{% for group in results %}
    {% displayMyGroup group 0 %}
{% endfor %}
</table>
{% else %}
{% if noresults %} No groups found matching that search, sorry.{% endif %}
{% endif %}

{% endblock %}
