{% extends "frame.html" %}

{% load sleep_tags %}

{% block content %}
<h1> Welcome to zScore! </h1>

<p class="homepage-text">
zScore allows you to track and share your sleep.  To see how it works,
<a href="/accounts/create">create an account</a> or check out the
<a href="/leaderboard">leaderboard</a>.  It's still very much in alpha and
written by hosed college students, so expect things to randomly break.  If you
notice a bug or want a feature, submit
<a href="http://goo.gl/l2Dkb">feedback</a> or
<a href="mailto:zscore-devs@mit.edu">email the devs</a>.
</p>

{% endblock %}
