{% extends "frame.html" %}

{% block content %}
{% load datetime_utils %}
{% load sleep_tags %}
<h1> Leaderboard </h1>

{{number}} zScore users have slept a total of {{total|printDHM}}!

<table>
    <tr><td>Rank</td><td>Username</td><td><a href="/leaderboard/">zScore</a></td><td><a href="/leaderboard/avg/">average</a></td><td><a href="/leaderboard/avgSqrt/">avgSqrt</a></td><td>stDev</td></tr>
  {% for s in top %}
  <tr>
    <td> {{s.rank}} </td>
    <td> {% displayUser s.user.displayName %} </td>
    <td> {{s.zScore|printHHMM}} </td>
    <td> {{s.avg|printHHMM}} </td>
    <td> {{s.avgSqrt|printHHMM}} </td>
    <td> {{s.stDev|printHHMM}} </td>
  </tr>
  {% endfor %}
</table>

<h3>Notes</h3>
The leaderboard shows users with at least 3 days of sleep.  It ranks by all-time scores.  Hidden users do not count towards rank.  The number of users at the top counts all users with at least 1 day of sleep.

{% endblock %}
