{% extends "frame.html" %}

{% block content %}
{% load datetime_utils %}
{% load sleep_tags %}
{% load graphs %}
{% load gravatar %}
<h1> Leaderboard </h1>

{{number}} zScore users have slept a total of {{total|printYDHM}}!

<table>
    <tr>
        <td>Rank</td>
        <td colspan="2">Username</td>
        <td><a href="?sort=zScore">zScore</a></td>
        <td><a href="?sort=zPScore">zPScore</a></td>
        <td><a href="?sort=avg">avg</a></td>
        <td><a href="?sort=avgSqrt">avgSqrt</a></td>
        <td><a href="?sort=avgLog">avgLog</a></td>
        <td><a href="?sort=avgRecip">avgRecip</a></td>
        <td><a href="?sort=stDev">stDev</a></td>
        <td><a href="?sort=posStDev">posStDev</a></td>
        <td><a href="?sort=idealDev">idealDev</a></td>
    </tr>
  {% for s in top %}
  <tr {% if s.opcode == "me" %} style="background-color:#DEF2FF" {% endif %}>
    <td> {{s.rank}} </td>
    <td> {% gravatar request.user s.user 20 %}
    <td> {% displayUser s.user.displayName %} </td>
    <td> {{s.zScore|printHHMM}} </td>
    <td> {{s.zPScore|printHHMM}} </td>
    <td> {{s.avg|printHHMM}} </td>
    <td> {{s.avgSqrt|printHHMM}} </td>
    <td> {{s.avgLog|printHHMM}} </td>
    <td> {{s.avgRecip|printHHMM}} </td>
    <td> {{s.stDev|printHHMM}} </td>
    <td> {{s.posStDev|printHHMM}} </td>
    <td> {{s.idealDev|printHHMM}}</td>
  </tr>
  {% endfor %}
</table>

Congratulations to {% displayUser recentWinner.user.displayName %} for sleeping the most ({{recentWinner.time|printDHHMM}}) in the last 3 days!


<h3>Notes</h3>
The leaderboard shows users with at least 3 days of sleep, including at least one of the last 5 days. <i>It now ranks by exponentially-weighted decaying scores</i>, that is, today is weighted at 1, yesterday at some factor &lambda;, the day before that at &lambda;<sup>2</sup>, and so on.  Hidden users do not count towards rank.  The number of users at the top counts all users with at least 1 day of sleep.
<h3>Total user sleep</h3>
{% graphSleepTimes %}
<br/>
<i>At what times users were asleep.</i>
<br/>
{% graphSleepStartEndTimes %}
<br/>
<i>Green is when users go to sleep, red is when they wake up.</i>
<br/>
{% graphSleepLengths %}
<br/>
<i>How long users slept at a time.</i>


{% endblock %}
