{% extends "frame.html" %}

{% block content %}
{% load datetime_utils %}
<h1> Leaderboard </h1>

zScore users have slept a total of {{total|printDHM}}!

<table>
  <tr><td>Rank</td><td>Username</td><td>zScore</td><td>average</td><td>avgSqrt</td><td>stDev</td></tr>
  {% for s in top %}
  <tr>
    <td> {{s.rank}} </td>
    <td> {{s.user.username}} </td>
    <td> {{s.zScore|printHHMM}} </td>
    <td> {{s.avg|printHHMM}} </td>
    <td> {{s.avgSqrt|printHHMM}} </td>
    <td> {{s.stDev|printHHMM}} </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
