{% extends 'frame.html' %}

{% load sleep_tags %}

{% block scripts %}
{{block.super}}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
    $( "#tabs" ).tabs();
});
</script>
{% endblock %}

{% block content %}

<div id="tabs">

    <ul>
        <li><a href="#tabs-manage">Manage {{group.name}}</a></li>
        {% if isAdmin %}
        <li {% if page == 2 %}class="ui-tabs-active"{% endif %}><a href="#tabs-edit">Edit Group Settings</a></li>
        {% if requests %}<li {% if page == 3 %}class="ui-tabs-active"{% endif %}><a href="#tabs-requests">Accept/Reject Requests</a></li>{% endif %}
        {% endif %}
    </ul>

    <div id="tabs-manage">
        <h2>{{group.name}}</h2>
            <p><i>{{group.description}}</i></p>
            <p>See the group <a href="/leaderboard/{{group.id}}/">leaderboard</a>!</p>

        <h3>Members</h3>
            <table>
                {% for member in members %}
                    {% displayGroupMember group member %}
                {% endfor %}
            </table>

        <h3>Invite new members</h3>
            <form method="post">{% csrf_token %}
                {{searchForm.as_p}}
                <p><input type="submit" value="Add" name="SleeperSearchForm"/></p>
            </form>

            {% if count %}
            {% if results %}
                <table>
                {% for user in results %}
                    {% displayGroupMember group user %}
                {% endfor %}
                </table>
            {% else %}
                No users found.
            {% endif %}
            {% endif %}
    </div>

{% if isAdmin %}

    <div id="tabs-edit">
        <form method="post">{% csrf_token %}
            <table class="form">
                {{groupForm.as_table}}
            </table>
            <p><input type="submit" value="Save" name="GroupForm"/></p>
        </form>
    </div>

    {% if requests %}
    <div id="tabs-requests">
        {% for r in requests %}
        {% displayRequest r %}
        {% endfor %}
    </div>
    {% endif %}

{% endif %}

</div>
{% endblock %}
