{% extends "frame.html" %}

{% block stylesheets %}
{{ block.super }}
<style>
  #party-mode-intro {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<div id="party-mode-intro">
    <h1> Introducing: PARTY MODE!&trade; </h1>
    <center><p> Some people complained about having only two boring modes of the website: day and night. We responded by adding PARTY MODE!&trade; PARTY MODE!&trade; gives you the punch of a great party all day, every day. Who needs sleep when you can party, right? </p></center>
    <center><p> In case you don't like partying all night, feel free to login and turn off party mode on your account. </p></center>
    <center><img src="/static/party-mode/such_party_mode.jpg" /></center>
    <center><a href="{{ target }}"><div><p>Continue</p></div></a></center>
</div>
{% endblock %}

{% block footer %}{% endblock %}
