{% extends "frame.html" %}

{% block content %}

<h1>zScore Privacy Policy</h1>

<p>Basically, we can do whatever we want with your data.</p>

<p>You put your data into zScore at your own risk.  In general, we’re not unreasonable people, and will try to respect the privacy settings you set in zScore.
On the other hand, we also screw up sometimes, so we make no guarantees; it’s possible that we’ll accidentally let everyone on the internet see everything you’ve ever entered.
Similarly, most days we won’t use our backend access to get data that we couldn’t otherwise, but some days we might be feeling evil, and we definitely reserve the right to abuse our power.
Nobody’s asked us if they can buy user sleep data yet, so we don’t know what we will do if someone does.
We will also compute and publish aggregate stats if they’re interesting.  In general we’ll try not to expose individual data in those, but again, we might screw up.</p>

<p>Of course, we will always reserve the right to have a trollish privacy policy, and to change it without notice.</p>

<p>If you’re someone who is unhappy with any the above, or whose sleep data is classified information or a trade secret, don’t use the site!
The code is open-source, so you can even make your own version with a “better” privacy policy.</p>

{% endblock %}
