
{% extends "frame.html" %}

{% block content %}
{% load datetime_utils %}

<h1>SimpleSleepCreation</h1>

<form method="post">{% csrf_token %}
    {% if saveError %} <p>Overlapping sleep detected! Is this really what you want? <br />Yes, I really want to submit an overlapping sleep {{ form.forceOverlap }}</p>{% endif %}
		{% if successfulSave %}<p>Sleep entered!</p>{%else%}
        <p><label for="id_start_time">Start time:</label> {{ form.start_time }}</p>
        <p><label for="id_end_time">End time:</label>{{ form.end_time}}</p>
        <p><label for="id_date">Date:</label>{{ form.date}}</p>
        <p><label for="id_comments">Comments</label>{{ form.comments}}</p>
        <p><label for="id_timezone">Timezone</label>{{ form.timezone}}</p>
        <input type="submit" value="Submit" /> {%endif%}
</form>
{% if successfulSave %} <button onclick="window.location='/mysleep/'">Go Back</button>{% endif %}
{% endblock %}
