div.sleep-entry-view
{
    width: 96%;
    margin: 2%;
}
div.sleep-stats-view
{
    float: left;
    width: 45%;
    clear: left;
    margin: 2%;
    min-width:500px;
}
div.sleep-list-view
{
    float: right;
    width: 45%;
    margin: 2%;
    min-width:500px;
}
