div.sleep-entry-view
{
    width: 96%;
    margin: 2%;
}
body.daytime div.sleep-stats-view
{
    float: left;
    width: 45%;
    clear: left;
    margin: 2%;
    min-width:500px;
    padding: 4px;
    border: 1px solid black;
}
body.nighttime div.sleep-list-view
{
    float: right;
    width: 45%;
    margin: 2%;
    min-width:500px;
    padding:4px;
    border: 1px solid white;
}
body.daytime div.sleep-stats-view
{
    float: left;
    width: 45%;
    clear: left;
    margin: 2%;
    min-width:500px;
    padding: 4px;
    border: 1px solid black;
}
body.nighttime div.sleep-list-view
{
    float: right;
    width: 45%;
    margin: 2%;
    min-width:500px;
    padding:4px;
    border: 1px solid white;
}
