.sleep-table
{
    border-collapse: collapse;
    min-width: 1000px;
}
.sleep-table .corner
{
    width: 150px;
}
.sleep-table .column-header
{
    width: 60px;
}
.sleep-table .row-header
{
    border-left: 1px solid lightgray;
    padding: 10px 5px;
    text-align: center;
}
.sleep-table tr:not(.header-row)
{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.sleep-table .left
{
    border-left: 1px solid lightgray;
    border-right: 1px dotted lightgray;
}
.sleep-table .right
{
    border-right: 1px solid lightgray;
}

body.daytime .sleep-box
{
    background-color: purple;
    position: relative; /* Floats the box on top of the table */
    /*border: 1px solid purple;*/
    width: 0;
    height: 10px;
}

body.nighttime .sleep-box
{
		background-color:white;
		position: relative;
		width:0;
		height: 10px;
}

body.daytime .sleep-box.tentative
{
    background-color: orange;
}

body.nighttime .sleep-box.tentative
{
		background-color: yellow;
}

body.daytime .sleep-box .start
{
    border-radius: 5px;
    padding: 5px;
    margin-left: -5px;
    margin-right: -5px;
    background-color: purple;
    float: left;
}

body.nighttime .sleep-box .start
{
		border-radius: 5px;
		padding: 5px;
		margin-left: -5px;
		margin-right: -5px;
		background-color: white;
		float: left;
}

body.daytime .sleep-box .start.tentative
{
    background-color: orange;
}

body.nighttime .sleep-box .start.tentative
{
    background-color: yellow;
}

body.daytime .sleep-box .end
{
    border-left: 10px solid purple;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    float: right;
    margin-left: -10px;
}

body.nighttime .sleep-box .end
{
    border-left: 10px solid white;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    float: right;
    margin-left: -10px;
}

body.daytime .sleep-box .end.tentative
{
    border-left: 10px solid orange;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

body.nighttime .sleep-box .end.tentative
{
    border-left: 10px solid yellow;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
